/* Styling The Links */

/* Pseudo-class: It Selects the elment based on their states, unlike element selector it allows to style the element based on the user style. */

body{
    padding: 10%;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a{
    text-decoration: none;
    cursor:pointer;
    color: hsl(328, 100%, 54%);
}

/* Pseudo-Class (must follow the Flow)*/


a:visited{
    color: gray;
}

a:hover ,a:focus{
    color: hsl(328, 100%, 44%);
}

a:active{
    background-color: beige;
}

